<!DOCTYPE html>
<html lang="en">
{{>header}}
{{>navigation}}
<body>
<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action active">
        Issue 1
    </a>
    <a href="#" class="list-group-item list-group-item-action">Issue 2</a>
    <a href="#" class="list-group-item list-group-item-action">Issue 3</a>
    <a href="#" class="list-group-item list-group-item-action">Issue 4</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Issue 5</a>
</div>
</body>
{{>footer}}
</html>