<!DOCTYPE html>
<html lang="en">
{{>header}}
{{>navigation}}
<link href="../public/css/upload.css" rel="stylesheet">
<body>
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Post your Submission Here</h2>
            <h3 class="section-subheading text-muted">Show us your talent!</h3>
        </div>
        <form action="/submit" method="post" id="contactForm" name="newSubmission" novalidate="novalidate">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <input name="name" class="form-control" id="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name." />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <input name="title" class="form-control" id="email" type="text" placeholder="Title of submission *" required="required" data-validation-required-message="Please enter a title for your submission" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group mb-md-0">
                        <input name="subheading" class="form-control" id="phone" type="text" placeholder="Subheading (Optional) *"  />
                        <p class="help-block text-danger"></p>
                    </div>
                    <br>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <textarea name="content" class="form-control" id="message" placeholder="Write your Submission Here *" required="required" data-validation-required-message="Please enter text."></textarea>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div id="success"></div>
                <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
</body>
{{>footer}}
</html>